.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f3f3f3;

    .login-card {
        background: white;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;

        h2 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        form {
            .form-group {
                margin-bottom: 15px;

                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 14px;
                }
            }

            a {
                display: block;
                font-size: 12px;
                color: #007bff;
                text-decoration: none;
                margin-bottom: 15px;
                text-align: right;

                &:hover {
                    text-decoration: underline;
                }
            }

            .login-button {
                background-color: #007bff;
                color: white;
                border: none;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        .register-link {
            margin-top: 20px;
            text-align: center;

            a {
                color: #007bff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
