# Virtual enviroment
myenv/

# Python cache
__pycache/
*.pyc

# Django migrations
*.log
*.pot
*.pyc
db.sqlite3

# Media/uploads
media/

# Enviroment variables
.envgit

.idea/

# Ignore all DS_Store files create by macOS
.DS_Store