{% extends "core/base.html" %}


{% block content %}

<div class="container">
  <div class="header"><h1>Welcome to your profile</h1></div>
  <div class="menu">
    <p><img src="{{ profile.avatar.url }}" alt="Profile Picture" width="100" height="100"><p></br>
    <p><strong>Username:</strong> {{ profile.user.username }}</p></br>
    <p><strong>Email:</strong> {{ profile.user.email }}</p>
  </div>
  <div class="content">
    <h3>Bio</h3><p>{{ profile.bio }}</p></br>
    <a href="{% url 'profile_edit_view' %}" class="btn btn-primary">Επεξεργασία Στοιχείων</a>
  </div>
</div>

{% endblock %}

