<!DOCTYPE html>
<html lang="en">
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/authenticate/login/">
                    Login
                </a>
                <a href="/authenticate/register/">
                    Register
                </a>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2024 My Education App</p>
        </footer>
    </body>
</html>
