{% extends 'core/base.html' %}

{% block title %}Home - My Education App{% endblock %}

{% block content %}
<div class="welcome-section">
    <h1>Welcome to Education App</h1>
    <p>Education App is the best place for students to explore courses, access learning materials, and test their knowledge.</p>
</div> 

<div class="popular-courses">
    <h2>Most Popular Courses</h2>
    <div class="courses-container-pop">
        {% for course in popular_courses %}
        <div class="course-card" data-tooltip="{{ course.description }}">
            <img src="{{ course.image.url }}" class="course-image">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description|slice:":50" }}...</p>
        </div>
        {% endfor %}
    </div>
</div>
  
{% endblock %}

