.welcome-section {
  text-align: center;
  background-color: #f4f4f4;
  padding: 50px 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;

  h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: #34495e;
    line-height: 1.5;
  }
}

.popular-courses {
  margin-top: 40px;
  text-align: center;
  background-color: #f4f4f4;
  padding: 50px 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .courses-container-pop {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .course-card {
      background-color: #f4f4f4;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      width: 200px; /* Fixed width for all cards */
      height: 270px; /* Ensures consistent height */
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 1.25rem;
        margin-bottom: 10px;
        color: #2c3e50;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        font-size: 0.9rem;
        color: #34495e;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        box-orient: vertical;
      }

      .course-image {
        width: 100%;
        height: 135px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      /* Tooltip */
      &:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.85rem;
        text-align: center;
        width: 250px;
        white-space: normal;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  /* Responsive Layout */
  @media (max-width: 768px) {
    .courses-container {
      justify-content: space-around; /* Distributes cards evenly */
    }

    .course-card {
      width: calc(50% - 10px); /* Two cards per row with some gap */
      margin-bottom: 20px; /* Add space between rows */
    }
  }

  @media (max-width: 480px) {
    .course-card {
      width: 100%; /* Single card per row on very small screens */
    }
  }
}