<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <a href="/">
                <img src="/static/global/img/logo.png" alt="Logo">
            </a>
        </div>
        <!-- <div class="footer-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
            </ul>
        </div> -->
        <div class="footer-social">
            <a href="#" class="social-icon"><img src="/static/global/img/icon-facebook.png" width="30" alt="Facebook"></a>
            <a href="#" class="social-icon"><img src="/static/global/img/icon-x.png" width="30" alt="X"></a>
            <a href="#" class="social-icon"><img src="/static/global/img/icon-instagram.png" width="30" alt="Instagram"></a>
        </div>
    </div>
    <p class="footer-copy">&copy; 2024 Education App. All rights reserved.</p>
</footer>