<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/static/global/img/logo.png" alt="Logo">
        </a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/authenticate/login">Login</a></li>
    </ul>
</nav>
