<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/static/global/img/logo.png" alt="Logo">
        </a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="list-container">
        <div class="left-links">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
            </ul>
        </div>
        <div class="right-links">
            <ul class="nav-links">
                <li><a href="/authenticate/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>