<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/static/global/img/logo.png" alt="Logo">
        </a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    {% if user.is_authenticated %}
    <!-- Loggred-in state -->
    <div class="profile-menu">
        <img src="{{ user_profile.get_avatar_url }}" alt="{{ user.username }}" class="profile-pic" onclick="toggleDropdown()">
        <ul class="dropdown-menu">
            <li><a href="/profiles">Profile</a></li>
            <!-- <li><a href="/courses/enrolled/">My Courses</a></li> -->
            <li><a href="{% url 'course_list' %}?enrolled_only=1">My Courses</a></li>
            <li><a href="/authentication/logout">Logout</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="list-container">
        <div class="left-links">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
            </ul>
        </div>
        <div class="right-links">
            {% if not user.is_authenticated %}
            <ul class="nav-links">
                <li><a href="/authenticate/login">Login</a></li>
                <li><a href="/authentication/register">Register</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>